<%= render "library" %>

<%= render "player" %>

<%= render "faq" %>

<script type="text/template" id="songslisttpl">
    {{ _.each(songs, function(song){ }}
        <li>
            <strong>{{= song.path }}</strong>
        </li>
    {{ }); }}
</script>