<section id="feedback" data-transition="slide">
    <header data-title="Feedback">
        <nav>
            <%= render "aside_button" %>
        </nav>
    </header>    
    <article id="feeback-article" class="indented">

        <h6>We at Droplayer would love to hear from you. Is the app not working properly? Do you miss any feature? If you have any suggestion, complain or just want to say hello, drop us a line.</h6>
        <div class="form">
            <fieldset>
                <input type="text" placeholder="Subject"></input>
                <textarea placeholder="Message"></textarea>
            </fieldset>
        </div>
    </article>
</section>