<section id="library" data-aside="options" data-transition="slide">
    <header data-title="My Music">
        <nav>
            <%= render "aside_button" %>
        </nav>
        <nav class="on-right">
            <a id="mybtn" href="javascript:void(0)" data-icon="refresh"></a>
        </nav>
    </header>
    <article id="songs_by_title" class="active list scroll">
        <div class="">
            <div id="first-article" class="">
                <ul id="songslist"></ul>
            </div>
        </div>
    </article>
    <article id="songs_by_artist" class="list scroll">
        <div class="">
            <div>
                <ul id="artistslist"></ul>
            </div>
        </div>
    </article>
    <article id="songs_by_album" class="list scroll">
        <div class="">
            <div>
                <ul id="albumstslist"></ul>
            </div>
        </div>
    </article>
    <footer>
        <nav>
            <a href="#" data-icon="music" data-view-article="songs_by_title" class="active"></a>
            <a href="#" data-icon="user" data-view-article="songs_by_artist"></a>
            <a href="#" data-icon="picture" data-view-article="songs_by_album"></a>
        </nav>
    </footer>
</section>