<% content_for :css_includes do %>
<%= stylesheet_link_tag 'home' %>
<% end %>

<div class="container_button" >
    <div class="hole" >
        <div class="play_button" >
            <div class="triangle" ></div>
            <div class="lighter_triangle" ></div>
            <div class="darker_triangle" ></div>
        </div>
    </div>
</div>