.now_playing {
	background-color: #e3f2ff !important;
}

#controls {
    font-size: 1.7em;
    text-align: center;
}

#progress {
	height: 0.3em
}

html, body {
	width: 100%;
}
#main-content {
	height: 100%;
}

/* HEADER */
#main-menu {
	margin-bottom: 0;
}

#cover {
	position: relative;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    z-index: -1;
}

#cover img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

#cover #legend {
	z-index: 1;
}